<!DOCTYPE html>
<html>
  <head>
    <title>食数管理システム</title>

  <!-- BootstrapCDNの組み込み -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-    BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link rel="stylesheet" href="https://school.oohara.jp/takase/fullcalendar.css">
    <script src="https://school.oohara.jp/takase/fullcalendar.js"></script>
    <script src="https://school.oohara.jp/takase/ja.js"></script>




<!--jQuery.BgSwitcherの組み込み -->
    <script src="https://school.oohara.jp/takase/jquery.bgswitcher.js"></script>
  <script>
  jQuery(function($) {
    $('.bg-slider').bgSwitcher({
        images: ['https://school.oohara.jp/takase/lunchbox.jpg','https://school.oohara.jp/takase/rice.jpg','https://school.oohara.jp/takase/meat.jpg','https://school.oohara.jp/takase/fish1.jpg','https://school.oohara.jp/takase/vege.jpg','https://school.oohara.jp/takase/fluit.jpg'],
      interval: 5000, // 背景画像を切り替える間隔を指定 3000=3秒
      effect: "fade",// 切り替える背景画像を指定します。
      duration: 1000, // エフェクトの時間を指定します。
      easing: "swing" // エフェクトのイージングをlinear,swingから指定
    });
});

  </script>

    <style type="text/css">
    h1 {
        font-size: 70px;
        letter-spacing: 0.3em;
     }
    </style>
    <%= csrf_meta_tags %>



<%= stylesheet_link_tag controller.controller_name, media: "all" %>
<%= javascript_include_tag controller.controller_name %>

  </head>

  <body>
    <%= yield %>


<!---- ライブラリ ---->
<script>
 $(document).ready(function () {

    // Documentの読み込みが完了するまで待機し、カレンダーを初期化します。
    $('#calendar').fullCalendar({
        // ヘッダーのタイトルとボタン
        header: {
            // title, prev, next, prevYear, nextYear, today
            left: 'prevYear,nextYear prev,next today',
            center: 'title',
            right: ''
        },
        // jQuery UI theme
        theme: false,
        // 最初の曜日
        //firstDay: 1, // 1:月曜日
        // 土曜、日曜を表示
        weekends: true,
        // 週モード (fixed, liquid, variable)
        weekMode: 'fixed',
        // 週数を表示
        weekNumbers: false,
        // 高さ(px)
        height: 700,
        // コンテンツの高さ(px)
        //contentHeight: 500,
        // カレンダーの縦横比(比率が大きくなると高さが縮む)
        //aspectRatio: 1,
        // ビュー表示イベント
        viewDisplay: function(view) {
            //alert('ビュー表示イベント ' + view.title);
        },
        // ウィンドウリサイズイベント
        windowResize: function(view) {
            //alert('ウィンドウリサイズイベント');
        },
        // 日付クリックイベント
        dayClick: function (date, jsEvent, view) {
             location.href="/order/index?d="+date.format();
        },
        // 初期表示ビュー
        defaultView: 'month',
        // ボタン文字列
        buttonText: {
            prev:     '先月', // <
            next:     '翌月', // >
            prevYear: '前年',  // <<
            nextYear: '翌年',  // >>
            today:    '今日',
            month:    '月',
            week:     '週',
            day:      '日'
        },
        // 月名称
        monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        // 月略称
        monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        // 曜日名称
        dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
        // 曜日略称
        dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
        // 選択可
        selectable: true,
        // 選択時にプレースホルダーを描画
        selectHelper: true,
        // 自動選択解除
        unselectAuto: true,
        // 自動選択解除対象外の要素
        unselectCancel: '',
        events: [
          <% if @orderd != nil %>
          <% @orderd.each {|item|
             if !(item.l == 0 && item.s == 0) %>
            {
                title: '大：<%= item.l %>　小：<%= item.s %>',
                start: '<%= item.date %>'
            },
          <% end
            }
           end %>
           ]
    });
    // 動的にオプションを変更する
    //$('#calendar').fullCalendar('option', 'height', 700);

    // カレンダーをレンダリング。表示切替時などに使用
    //$('#calendar').fullCalendar('render');

    // カレンダーを破棄（イベントハンドラや内部データも破棄する）
    //$('#calendar').fullCalendar('destroy')
});

</script>

  </body>
</html>
